
  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Login Form</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="box">
        <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
      
    </div>
      <div class="login-container">
        <div class="image-container">
            <img  class="cont-logo"  src="../images/2.png"/>
            <p>Streming your business with E-TimeFlow The Ultimate Solution Provider</p>
            <button>Create Account</button>
          </div>
         
        <form action="/login" method="post">
          <div class="login-text">
            <h3>Hellow Again !</h3>
            <p>Welcome Back</p>
          </div>
          <input type="text" placeholder="Email" name="email" required>
          <div class="icon6"><i class="fa-solid fa-envelope-open-text"></i></div>
          <input type="password" placeholder="Password" name="password" required>
          <div class="icon7"><i class="fa-solid fa-lock"></i></div>
          <button type="submit">Login</button>
          <p class="forgot">Forgot password ? </p> 
        </form>
        
      </div>
    
</body>
</html>
